In [1]:
import pandas as pd

In [5]:
poke = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)

poke

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [7]:
poke.sort_values(ascending = False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [10]:
google = pd.read_csv("google_stock_price.csv", squeeze = True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [11]:
google.sort_values().tail()

3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, dtype: float64

In [14]:
google.sort_values(ascending = False).head(3)

3011    782.22
2859    776.60
3009    773.18
Name: Stock Price, dtype: float64

In [15]:
google = google.sort_values() ## classical method to replace the original series
google.head(3)

11    49.95
9     50.07
0     50.12
Name: Stock Price, dtype: float64

In [16]:
google.sort_values(ascending=False, inplace = True) ## using the inplace method to overwriting the original series
google.head(3)

3011    782.22
2859    776.60
3009    773.18
Name: Stock Price, dtype: float64